.wp-admin .editor-styles-wrapper .ek-linked-block:hover, .wp-admin .editor-styles-wrapper .ek-linked-block {
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

.wp-admin .editor-styles-wrapper .reverse {
  flex-direction: row-reverse;
}
.wp-admin .editor-styles-wrapper .ek-linked-block:hover {
  opacity: 0.75;
}
.wp-admin .editor-styles-wrapper :where(body .is-layout-flow) > .editorskit-block-link {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
@media (min-width: 781px) {
  .wp-admin .editor-styles-wrapper .column__border-left {
    -webkit-padding-start: 1.5rem;
            padding-inline-start: 1.5rem;
    border-left: 1px solid #d3d1d1;
  }
}
@media (max-width: 780px) {
  .wp-admin .editor-styles-wrapper body .is-layout-flex > .mobile-spacing {
    -webkit-margin-after: 2rem;
            margin-block-end: 2rem;
  }
}
.wp-admin .editor-styles-wrapper .geometric-design__bottom {
  position: relative;
}
.wp-admin .editor-styles-wrapper .geometric-design__bottom::after {
  position: absolute;
  bottom: -20px;
  left: 25%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 3.3 7'%3E%3Cg%3E%3Cpolygon fill='%23ffffff' points='3.3,0 0,3.5 3.3,7 3.3,6.5 0.5,3.5 3.3,0.6 '/%3E%3Cpolygon fill='%23ffffff' points='3.3,1.1 1,3.5 3.3,6 '/%3E%3C/g%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
  content: "";
  transform: rotate(90deg);
  background-repeat: no-repeat;
  transform-origin: left;
  opacity: 0.25;
}
.wp-admin .editor-styles-wrapper .content-is-aligned-vertically {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.wp-admin .editor-styles-wrapper .wp-block-post {
  padding: 1.5rem;
  box-shadow: 0 5px 15px #cacaca;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.wp-admin .editor-styles-wrapper .wp-block-post > a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wp-admin .editor-styles-wrapper .wp-block-post .wp-block-post-date {
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid #d9d9d9;
}
.wp-admin .editor-styles-wrapper .wp-block-post::after {
  content: "";
  position: absolute;
  top: 56.25%;
  right: 0;
  background-image: url(../img/overlays/arrow__left.svg);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 3.3 7'%3E%3Cg%3E%3Cpolygon fill='%232fbeb7' points='3.3,0 0,3.5 3.3,7 3.3,6.5 0.5,3.5 3.3,0.6 '/%3E%3Cpolygon fill='%232fbeb7' points='3.3,1.1 1,3.5 3.3,6 '/%3E%3C/g%3E%3C/svg%3E");
  background-position: bottom right;
  background-size: contain;
  height: 43.75%;
  width: 100%;
  background-repeat: no-repeat;
  opacity: 0.15;
}
.wp-admin .editor-styles-wrapper .wp-block-post > * {
  position: relative;
  z-index: 1;
}
.wp-admin .editor-styles-wrapper .wp-block-post time {
  font-size: 14px;
}
.wp-admin .editor-styles-wrapper .wp-block-post .wp-block-post-featured-image {
  margin: -1.5rem -1.5rem 1.5rem;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.wp-admin .editor-styles-wrapper .wp-block-post .wp-block-post-featured-image a {
  height: auto;
}
.wp-admin .editor-styles-wrapper .wp-block-post h2 {
  margin-block: 0;
}
.wp-admin .editor-styles-wrapper .wp-block-post h2 a::after {
  display: none;
}
.wp-admin .editor-styles-wrapper .wp-block-post a {
  color: #000;
  text-decoration: none;
}
.wp-admin .editor-styles-wrapper .has-midnight-blue-background-color ~ div .wp-block-post {
  box-shadow: none;
}
.wp-admin .editor-styles-wrapper .news-card h2 {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
.wp-admin .editor-styles-wrapper .wp-block-post-object .wp-block-post {
  position: relative;
}
.wp-admin .editor-styles-wrapper .wp-block-post-object .wp-block-post > a {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.wp-admin .editor-styles-wrapper .wp-block-post-template.is-flex-container.wp-block-cards.columns-3 {
  gap: 2em;
}
@media (min-width: 981px) {
  .wp-admin .editor-styles-wrapper .wp-block-post-template.is-flex-container.wp-block-cards.columns-3 > .wp-block-post {
    width: calc(33.3333% - 1.3333em);
  }
}
@media (max-width: 980px) {
  .wp-admin .editor-styles-wrapper .wp-block-post-template.is-flex-container.wp-block-cards.columns-3 > .wp-block-post {
    width: calc(50% - 1em);
  }
}
@media (max-width: 480px) {
  .wp-admin .editor-styles-wrapper .wp-block-post-template.is-flex-container.wp-block-cards.columns-3 > .wp-block-post {
    width: 100%;
  }
}
.wp-admin .editor-styles-wrapper .link__custom > *::after, .wp-admin .editor-styles-wrapper .link__custom.wp-block-button.is-style-outline > *::after {
  font-family: fontAwesome;
  margin-left: 10px;
}
.wp-admin .editor-styles-wrapper .link__custom.pdf-download > *::after {
  content: "\f1c1";
}
.wp-admin .editor-styles-wrapper .link__custom.external-link > *::after {
  content: "\f08e";
}
.wp-admin .editor-styles-wrapper .main-content .link__arrow-right {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration: none;
  background-color: #0055a5;
  padding: 5px 10px;
  color: #fff;
}
.wp-admin .editor-styles-wrapper .main-content .link__arrow-right::after {
  content: "\f105";
  font-family: fontAwesome;
  margin-left: 5px;
}
.wp-admin .editor-styles-wrapper body {
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wp-admin .editor-styles-wrapper .light h1,
.wp-admin .editor-styles-wrapper .light h2,
.wp-admin .editor-styles-wrapper .light h3,
.wp-admin .editor-styles-wrapper .light h4,
.wp-admin .editor-styles-wrapper .light h5,
.wp-admin .editor-styles-wrapper .light h6,
.wp-admin .editor-styles-wrapper .light p,
.wp-admin .editor-styles-wrapper .light ol,
.wp-admin .editor-styles-wrapper .light ul,
.wp-admin .editor-styles-wrapper .light strong,
.wp-admin .editor-styles-wrapper .light .wpcf7 input,
.wp-admin .editor-styles-wrapper .light .wpcf7-submit {
  color: #fff;
}
.wp-admin .editor-styles-wrapper .light .revert-colour ul {
  color: #000;
}
.wp-admin .editor-styles-wrapper .light .wpcf7 input {
  border-bottom-color: #fff;
}
.wp-admin .editor-styles-wrapper .light .wpcf7-submit {
  border-color: #fff;
}
.wp-admin .editor-styles-wrapper a {
  text-decoration: none;
}
.wp-admin .editor-styles-wrapper .main-content a {
  color: #0055a5;
  font-weight: 600;
  text-decoration: underline;
}
.wp-admin .editor-styles-wrapper .main-content .has-base-color a {
  color: inherit;
}
.wp-admin .editor-styles-wrapper .main-content .wp-element-button {
  text-decoration: none;
}
.wp-admin .editor-styles-wrapper .main-content div:not(.wp-block-query) h2 {
  font-size: 28px;
  letter-spacing: -0.02rem;
}
.wp-admin .editor-styles-wrapper .main-content div:not(.wp-block-query) h2 > a {
  position: relative;
  text-decoration: none;
  padding-right: 30px;
}
.wp-admin .editor-styles-wrapper .main-content div:not(.wp-block-query) h2 > a::after {
  position: absolute;
  content: "\f1e1";
  right: 0;
  bottom: -2px;
  font-family: "Material Symbols Outlined";
  font-weight: 600;
  font-size: 25px;
}
@media (max-width: 980px) {
  .wp-admin .editor-styles-wrapper .main-content div:not(.wp-block-query) h2 > a::after {
    font-size: 22px;
  }
}
.wp-admin .editor-styles-wrapper .hero h2 {
  max-width: 500px;
}
.wp-admin .editor-styles-wrapper h1 {
  font-size: 45px;
}
.wp-admin .editor-styles-wrapper h3 {
  font-weight: 600;
}
.wp-admin .editor-styles-wrapper h1,
.wp-admin .editor-styles-wrapper h2,
.wp-admin .editor-styles-wrapper h3,
.wp-admin .editor-styles-wrapper h4,
.wp-admin .editor-styles-wrapper h5,
.wp-admin .editor-styles-wrapper h6 {
  margin: 0 0 1rem;
  line-height: 1.35em;
}
.wp-admin .editor-styles-wrapper ul:not(.is-flex-container) {
  padding: 0 0 0 22px;
  list-style: none;
  margin-bottom: 0;
}
.wp-admin .editor-styles-wrapper li {
  position: relative;
}
.wp-admin .editor-styles-wrapper li:not(:last-of-type) {
  margin-bottom: 0.5em;
}
.wp-admin .editor-styles-wrapper .big {
  font-size: 22px;
  line-height: 1.5em;
}
.wp-admin .editor-styles-wrapper .bold {
  font-weight: bold;
}
.wp-admin .editor-styles-wrapper .bold span {
  font-weight: normal;
}
.wp-admin .editor-styles-wrapper p,
.wp-admin .editor-styles-wrapper ol,
.wp-admin .editor-styles-wrapper ul {
  font-size: 1.15rem;
}
.wp-admin .editor-styles-wrapper .wp-block-latest-posts.wp-block-latest-posts__list {
  padding-left: 25px;
}
.wp-admin .editor-styles-wrapper ul li:not(.wp-block-post, .menu-item) {
  text-indent: -20px;
}
.wp-admin .editor-styles-wrapper ul li:not(.wp-block-post, .menu-item)::before {
  font-family: fontAwesome;
  content: "\f0da";
  margin-right: 15px;
  color: #0055a5;
  top: 1px;
  position: relative;
}
.wp-admin .editor-styles-wrapper ol {
  padding-left: 20px;
}
.wp-admin .editor-styles-wrapper a .boxed h3 {
  color: #333;
  transition: 0.25s ease-in-out;
}
.wp-admin .editor-styles-wrapper a .boxed:hover h3 {
  color: #0055a5;
  transition: 0.25s ease-in-out;
}
.wp-admin .editor-styles-wrapper p:last-of-type {
  margin-bottom: 0;
}
.wp-admin .editor-styles-wrapper .social_media {
  padding: 0;
  display: flex;
  margin: 0 25px 0 0;
}
.wp-admin .editor-styles-wrapper .social_media li {
  text-indent: 0;
  margin-right: 20px;
  margin-bottom: 0;
}
.wp-admin .editor-styles-wrapper .social_media li:last-of-type {
  margin-right: 0;
}
.wp-admin .editor-styles-wrapper .social_media li::before {
  display: none;
}
.wp-admin .editor-styles-wrapper .text__small {
  font-size: 14px;
}
.wp-admin .editor-styles-wrapper .social_media a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 25px;
  height: 25px;
  font-size: 15px;
}
.wp-admin .editor-styles-wrapper .boxed:hover h3 {
  color: #0055a5;
  transition: 0.25s ease-in-out;
}
.wp-admin .editor-styles-wrapper .boxed h3 {
  transition: 0.25s ease-in-out;
}
.wp-admin .editor-styles-wrapper h3 a {
  font-size: 20px;
  color: #333;
  transition: 0.25s ease-in-out;
}
.wp-admin .editor-styles-wrapper h3 a:hover {
  color: #0055a5;
  transition: 0.25s ease-in-out;
}
.wp-admin .editor-styles-wrapper .footer_logo {
  max-width: 160px;
  margin: 2em 0;
}
.wp-admin .editor-styles-wrapper .menuInner .social_media a {
  background-color: #fff;
}
.wp-admin .editor-styles-wrapper .menuInner .social_media a i {
  color: #000;
}
.wp-admin .editor-styles-wrapper .lg--text {
  font-size: 20px;
  line-height: 1.35em;
}
.wp-admin .editor-styles-wrapper #cards h3 {
  font-weight: bold;
}
.wp-admin .editor-styles-wrapper hr {
  margin-bottom: 15px;
}
.wp-admin .editor-styles-wrapper .dark-text h2,
.wp-admin .editor-styles-wrapper .dark-text p {
  color: #000;
}
@media (max-width: 48em) {
  .wp-admin .editor-styles-wrapper .bottomMarginMobile {
    margin-bottom: 30px;
  }
  .wp-admin .editor-styles-wrapper #contact .social_media {
    margin-bottom: 30px;
  }
}
@media (max-width: 850px) and (orientation: landscape) {
  .wp-admin .editor-styles-wrapper .col ~ .col ul {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .wp-admin .editor-styles-wrapper .col ~ .col ul {
    margin-top: 0;
  }
}
@media (max-width: 980px) {
  .wp-admin .editor-styles-wrapper header .top-header .mailing-list {
    padding-left: inherit;
    padding-right: inherit;
  }
  .wp-admin .editor-styles-wrapper .row.contact-info {
    display: none;
  }
  .wp-admin .editor-styles-wrapper .hero::before {
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .wp-admin .editor-styles-wrapper .jumbotron h1,
.wp-admin .editor-styles-wrapper body h1 {
    font-size: 40px;
  }
}
.wp-admin .editor-styles-wrapper #contact p,
.wp-admin .editor-styles-wrapper #contact a {
  font-size: 15px;
}
@media (max-width: 980px) {
  .wp-admin .editor-styles-wrapper .has-x-large-font-size {
    font-size: 35px !important;
  }
}
.wp-admin .editor-styles-wrapper .arrow__right {
  position: relative;
  width: 15px;
  height: 1.5px;
  display: inline-block;
  background-color: #0055a5;
  -webkit-margin-after: 3px;
          margin-block-end: 3px;
}
.wp-admin .editor-styles-wrapper .arrow__right::before, .wp-admin .editor-styles-wrapper .arrow__right::after {
  right: 0.5px;
  top: 0;
  transform-origin: right;
  content: "";
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: #0055a5;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.wp-admin .editor-styles-wrapper .arrow__right::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.wp-admin .editor-styles-wrapper .arrow__right::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.wp-admin .editor-styles-wrapper .is-root-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.wp-admin .editor-styles-wrapper .is-root-container > * {
  padding-left: 2rem;
  padding-right: 2rem;
}
.wp-admin .editor-styles-wrapper .splash-cover {
  min-height: 60vh !important;
}
.wp-admin .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper h1 {
  font-size: 20px;
  font-style: italic;
  color: #999;
  padding-left: 2rem;
  padding-right: 2rem;
}
.wp-admin .editor-styles-wrapper li:not(.wp-block-post) {
  text-indent: 0;
  display: flex;
}
.wp-admin .editor-styles-wrapper li:not(.wp-block-post) > div {
  display: inline-block;
}