@import "partials/variables";
@import "partials/columns";
@import "partials/cards";

.wp-admin .editor-styles-wrapper {
  // font-family: var(--wp--preset--font-family--system-font);

  .is-root-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .edit-post-visual-editor__post-title-wrapper {

    h1 {
      font-size: 20px;
      font-style: italic;
      color: #999;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}