// CUSTOM LINK OPTIONS
.link__custom {

  >*,
  >a {
    padding-inline-end: calc(2.666em + 2px);
    position: relative;

    &::after {
      position: absolute;
      right: 1.333em;
      top: 14px;
      font-family: fontAwesome;
    }
  }

  &.pdf-download {
    >*::after {
      content: "\f1c1";
    }
  }
}