// CUSTOM LINK OPTIONS
.link__custom {

  >*,
  &.wp-block-button.is-style-outline>* {

    &::after {
      font-family: fontAwesome;
      margin-left: 10px;
    }
  }

  &.pdf-download {
    >*::after {
      content: "\f1c1";
    }
  }

  &.external-link {
    >*::after {
      content: "\f08e";
    }
  }
}

.main-content {
  .link__arrow-right {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    background-color: $royalBlue;
    padding: 5px 10px;
    color: #fff;

    &::after {
      content: "\f105";
      font-family: fontAwesome;
      margin-left: 5px;
    }
  }
}