.reverse {
  flex-direction: row-reverse;
}

.wp-block-column:hover {
  .editorskit-block-link {
    margin-block-start: 0;
    opacity: .5;
    @extend %smooth-transition-25;
  }
}

:where(body .is-layout-flow)>.editorskit-block-link {
  margin-block-start: 0;
}