.reverse {
  flex-direction: row-reverse;
}

.ek-linked-block:hover {
  opacity: .75;
  @extend %smooth-transition-25;
}

:where(body .is-layout-flow)>.editorskit-block-link {
  margin-block-start: 0;
}