.reverse {
  flex-direction: row-reverse;
}

.ek-linked-block {
  @extend %smooth-transition-25;

  &:hover {
    opacity: .75;
    @extend %smooth-transition-25;
  }
}

:where(body .is-layout-flow)>.editorskit-block-link {
  margin-block-start: 0;
}

@media (min-width: 781px) {
  .column__border-left {
    padding-inline-start: 1rem;
    border-left: 1px solid $lightGrey;
  }
}