footer {
  background-color: $emerald;

  .menu {
    margin-block-start: 0;
  }

  li {
    text-indent: unset;

    &::before {
      display: none;
    }
  }

  a {
    color: #fff;
  }

  p {
    margin-block-start: 0;
  }

  .row.gutter_space_2 {
    >.col {
      margin-block-end: 4rem;
    }
  }
}

@media (max-width: 480px) {
  #footer-nav_menu-5 {
    margin-block-end: 0;
  }
}