footer {
  background-color: $emerald;

  .menu {
    margin-block-start: 0;
  }

  li {
    text-indent: unset;

    &::before {
      display: none;
    }
  }

  a {
    color: #fff;
  }

  p {
    margin-block-start: 0;
  }
}