.home {
    .main-content {
        padding-top: 0;

        >.inner_container {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .splash-cover {
        min-height: auto !important;
        height: calc(100vh - 91px);
        max-height: 900px;
    }

    @media (max-device-width: 980px) and (orientation: landscape) {
        .splash-cover {
            height: 100vh;
        }
    }
}