.home {
    .main-content {
        padding-top: 0;

        >.inner_container {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .splash-cover {
        min-height: auto !important;
        height: 100vh;
        max-height: 900px;
    }
}