@media (max-width: 780px) {
  .wp-block-group.wp-block-group {
    &.flex-start-on-mobile {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 1023px) {
  .hide-on-desktop {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }
}