@media (min-width: 981px) {
  .dynamic__contents {
    position: sticky;
    top: 3em;
  }
}

.page-template-page-sidebar {
  @media (min-width: 1024px) {
    .sidebar>div {
      position: sticky;
      top: 6em;
    }
  }
}

.contact-information {
  margin-block-start: 3em;

  p {
    margin-block: 0;
  }

  .phone-numbers {
    margin-block-start: 0;
  }

  li {
    margin-block-end: 0;

    &::before {
      display: none;
    }
  }
}