@media (min-width: 981px) {
  .dynamic__contents {
    position: sticky;
    top: 3em;
  }
}

.page-template-page-sidebar,
.single {
  @media (min-width: 1024px) {

    .sidebar>div,
    .contact-information {
      position: sticky;
      top: 6em;
    }
  }
}

.contact-information {
  p {
    margin-block: 0;
  }

  .phone-numbers {
    margin-block-start: 0;
  }

  li {
    margin-block-end: 0;

    &::before {
      display: none;
    }
  }
}