.post__date {
  margin-block: 1em;

  @media (max-width: 1024px) {
    & {
      order: 1;
    }
  }
}

.post__title {
  margin-block-end: 25px;
}

.single {
  .row {
    .row {
      margin-left: 0;
      margin-right: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
}