ul.staff-data {
  margin-block-start: 0;
  padding-inline-start: 0;

  li {
    text-indent: 0;

    &:first-of-type {
      margin-block: 5px 15px;
      line-height: 1.35em;
    }

    // &:not(:last-of-type) {
    //   margin-block-end: 10px;
    // }

    &::before {
      display: none;
    }
  }
}