body:not(.home).light__theme {
  .logo .st0 {
    fill: $royalBlue;
  }

  .logo .st1 {
    fill: #686969;
  }

  .hamburger-inner,
  .hamburger--spin .hamburger-inner::before,
  .hamburger--spin .hamburger-inner::after {
    background-color: #000;
  }

  .primary-menu-container li a {
    color: $royalBlue;
  }

  header {
    background-color: transparent;
  }

  .white-bg {
    background-color: $lightGrey;
  }
}

body:not(.home).dark__theme {
  .menu-item-has-children {
    &::after {
      color: #fff;
    }
  }

  .submenu a {
    color: $royalBlue;
  }
}